@model Errand

<h3>Ärende: @Model.RefNumber</h3>
<section id="leftColumn">
    <h3>Anmälan</h3>
    <p>
        <span class="label">Typ av brott: </span><br />@Model.TypeOfCrime
    </p>
    <p>
        <span class="label">Brottsplats: </span><br />@Model.Place
    </p>
    <p>
        <span class="label">Brottsdatum: </span><br />@Model.DateOfObservation.ToShortDateString()
    </p>
    <p>
        <span class="label">Anmälare: </span><br />@Model.InformerName
    </p>
    <p>
        <span class="label">Telefon: </span><br />@Model.InformerPhone
    </p>
    <p>
        <span class="label">Observationer:</span><br />@Model.Observation
    </p>
</section>

<section id="rightColumn">
    <h3>Utredning</h3>
    <p>
        <span class="label">Status: </span><br />@Model.Status?.StatusName
    </p>
    <p>
        <span class="label">Ansvarig avdelning: </span><br />@Model.Department?.DepartmentName
    </p>
    <p>
        <span class="label">Handläggare: </span><br />@Model.Employee?.EmployeeName
    </p>
    <p style="white-space: pre-line;">
        <span class="label">Ytterligare information: </span>
        @Model.InvestigatorInfo
    </p>
    <p style="white-space: pre-line;">
        <span class="label">Händelser: </span>
        @Model.InvestigatorAction
    </p>
    @if (Model.Samples != null && Model.Samples.Count > 0)
    {
        <div>
            <span class="label">Provtagning: </span> <br />

            @foreach (var sample in Model.Samples)
            {
                <p class="sample">
                    <a href="~/Samples/@sample.SampleName">@sample.SampleName</a>
                </p>
            }
        </div>
    }
    else
    {
        <p>
            <span class="label">Provtagning: </span><br />Det finns inga prover ännu.
        </p>
    }

    @if (Model.Pictures != null && Model.Pictures.Count > 0)
    {
        <p>
            <span class="label">Bilder: </span><br />

            @foreach (var picture in Model.Pictures)
            {
                @* <a href="~/Pictures/@picture.PictureName">@picture.PictureName</a>
                <br /> *@
                <img src="~/Pictures/@picture.PictureName" alt="errand-picture" height="162" width="162" />
            }
            <br />
        </p>
    }
    else
    {
        <p>
            <span class="label">Bilder: </span><br />Det finns inga bilder ännu.
        </p>
    }
</section>
