@{
	Layout = "_ManagerLayout";
}
@model IEnvironmentCrimeRepository

<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<table id="managerForm">
	<tr>
		<td class="label">Välj status:</td>
		<td class="label">Välj handläggare:</td>
		<td>&nbsp;</td>
		<td class="label">Ärendenummer:</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<select name="status">
				<option selected="selected">Välj alla</option>
				@foreach (var errandStatus in Model.ErrandStatuses)
				{
					<option value="@errandStatus.StatusId">@errandStatus.StatusName</option>
				}
			</select>
		</td>
		<td>
			<select name="investigator">
				<option selected="selected">Välj alla</option>
				@foreach (var investigator in Model.Employees)
				{
					<option value="@investigator.EmployeeId">@investigator.EmployeeName</option>
				}
			</select>
		</td>
		<td><input class="button" type="submit" value="Hämta lista"></td>
		<td><input name="casenumber"></td>
		<td><input class="button" type="submit" value="Sök"></td>
	</tr>
</table>

<!--Errand list-->
<table>
	<tr>
		<th>Ärende anmält</th>
		<th>Ärendenummer</th>
		<th>Miljöbrott</th>
		<th>Status</th>
		<th>Avdelning</th>
		<th>Handläggare</th>
	</tr>
	@foreach (Errand errands in Model.Errands)
	{
		<tr>
			<td>@errands.DateOfObservation.ToShortDateString()</td>
			<td>
				<a asp-controller="Manager" asp-action="CrimeManager" asp-route-id="@errands.ErrandId">@errands.ErrandId</a>
			<td>@errands.TypeOfCrime</td>
			<td>@errands.StatusId</td>
			<td>@errands.DepartmentId</td>
			<td>@errands.EmployeeId</td>
		</tr>
	}
</table>