@using EnvironmentCrime.Models.AppDb
@{
	Layout = "_InvestigatorLayout";
}
@model IEnvironmentCrimeRepository

<h2>Ärenden</h2>
<p class="info">Du är inloggad som handläggare.</p> 

<table id="managerForm">
	<tr>
		<td class="label">Välj status:</td>
		<td>&nbsp;</td>
		<td class="label">Ärendenummer:</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<select name="status">
				<option selected="selected">Välj alla</option>
				@foreach (var errandStatuses in Model.ErrandStatuses)
				{
					<option value="@errandStatuses.StatusId">@errandStatuses.StatusName</option>
				}
			</select>
		</td>
		<td><input class="button" type="submit" value="Hämta lista"></td>
		<td><input name="casenumber"></td>
		<td><input class="button" type="submit" value="Sök"></td>
	</tr>
</table>

<!--Errand list-->
<table>
	<tr>
		<th>Ärende anmält</th>
		<th>Ärendenummer</th>
		<th>Miljöbrott</th>
		<th>Status</th>
		<th>Avdelning</th>
		<th>Handläggare</th>
	</tr>
	@foreach (var Errand in Model.GetErrands("investigator"))
	{
		<tr>
			<td>@Errand.DateOfObservation.ToShortDateString()</td>
			<td>
				<a asp-controller="Investigator" asp-action="CrimeInvestigator" asp-route-id="@Errand.ErrandId">@Errand.RefNumber</a>
			</td>
			<td>@Errand.TypeOfCrime</td>
			<td>@Errand.StatusName</td>
			<td>@Errand.DepartmentName</td>
			<td>@Errand.EmployeeName</td>
		</tr>
	}
</table>